
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}

.actionCheckAge{
    font-size: .8rem;
}
.actionGeneration{
    font-size: .9rem;
}
#dniNotFound{
    display: none;
}